.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  
  .button {
    /* background-color: #000; */
    /* color: #fff; */
    font-weight: 600;
    padding: 15px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #555 !important;
  }
  
  @media (max-width: 768px) {
    .buttonContainer {
      flex-direction: column;
    }
  
    .button {
      margin: 10px 0;
    }
  }
  