.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00C7BE;
  /* position: fixed; */
  color: #fff;
  width: 100%;
  max-width: 100% !important;
  z-index: 100;
}

@media (max-width: 800px) {
  .header {
    padding: 10px;
    /* padding-right: 0;
    padding-top: 0;
    padding-bottom: 0; */
  }

}