button{
  transition: all 0.1s ease !important;
}

.profileContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    /* margin-top: 50px; */
    background-position: center;
    background-image: url('../../Assets/herobg.png');
    background-repeat: repeat;
    background-size: cover;
  }
  
  .profileCard {
    width: 800px;
    background-color: rgb(228, 225, 225, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  @media (max-width: 900px) {
    .profileCard{
      width: 90%;
    }
  }
 @media (max-width: 650px) {
    .profileCard{
      width: 80%;
    }
  }
  /* @media (max-width: 500px) {
    .profileCard{
      width: 300px;
    }
  } */

  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  .flexImg{
    display: flex;
    align-items: center;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profileDetails {
    flex: 1;
  }
  .profileDetails span{
    font-weight: 600;

  }
  
  h2 {
    margin: 0;
    font-size: 24px;
  }
  
  p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .editButton {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .editButton:hover {
    background-color: #0056b3;
  }
  
  .editInput {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .messageButton,
  .shareButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .messageButton {
    background-color: #28a745;
    color: white;
  }
  
  .messageButton:hover {
    background-color: #218838;
  }
  
  .shareButton {
    background-color: #17a2b8;
    color: white;
  }
  
  .shareButton:hover {
    background-color: #117a8b;
  }
  
  .skills {
    margin-top: 20px;
  }
  
  .skillsList {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .skill {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .associatedPeople {
    margin-top: 20px;
  }
  
  .associatedPeople ul {
    list-style: none;
    padding: 0;
  }
  
  .associatedPeople li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .uploadImg{
    margin-left: 20px;
  }
  .uploadImg button{
    background-color: #17a2b8;
    border-radius: 4px;
    border: none;
    padding: 5px;
    color: #ffffff;
    
  }

  .uploadImg button:hover{
    background-color: #138ea1;
  }
.recentRidesGroup{
  margin-top: 30px;
}
  .recentRides{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  .recentRides h5{
    font-size: 18px;
    margin: 0;
  }

  .recentRides button{
    background-color: rgb(163, 90, 21);
    padding: 8px 15px;
    border: 0;
    border-radius: 5px;
    color: #fff;
  }
  .recentRides button:hover{
    background-color: rgb(133, 76, 23);
  }

  .tableContainer {
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;
  }

  .ridesTableers {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-top: 30px;
    /* font-weight: 550; */
    /* color: rgb(167, 167, 167) !important; */
  }
  
  .ridesTableers th, .ridesTableers td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .ridesTableers th {
    background-color: #f3efef;
    color: #474747;
  }
  
  .ridesTableers td {
    color: #6b6a6a;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* border: none; */
  }
  
  .modalContent {
    background-color: #fff;
    padding: 2rem;
    border-radius: 2px;
    border: none;
    outline: none;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }

 .absolutePP11{
    margin-left: 95%;
    margin-top: -58px;
    /* font-size: 20px; */
    font-weight: 700;
    color: #000000;
    z-index: 1002;
    cursor: pointer;
    border: 0.3px solid gray;
    border-radius: 40%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: fit-content;
 }
 
  
  .submitButton {
    background-color: #007BFF;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }

  .modalContenth2{
    text-align: left;
    margin-bottom: 30px;
  }

  