
a{
  text-decoration: none !important;
}

.imgSpace {
    background-color: #ebebeb;
    padding: 50px 20px 10px 40px; /* Adjust padding to include bottom padding */
    margin-left: 20px; /* Adjust margin-left as needed */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-right: 2px solid #f5f5f5; /* Extend border */
    width: 100%; /* Adjust width to include margin and border */
    min-height: 100vh; /* Ensure the shadow height covers the full screen */
    gap: 10px;
    justify-content: space-between; /* Distribute space between elements */
    overflow-y: hidden;
    /* height: auto; */
  }
  .newBigOvr{
    width: calc(29% + 30px) !important;
  }
  
  .reg {
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
  }
  
  .personal1 {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 12px;
    height: 50px;
    padding-right: 20px;
  }
  
  .personal {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 13px;
    margin: 2px;
  }
  
  .personal1::before {
    content: '';
    position: absolute;
    left: 20px; /* Adjusted based on icon width */
    top: 50%; /* Adjusted to vertically center the line */
    transform: translateY(-50%);
    height: calc(100% - 20px); /* Adjusted height, reducing by 20px for top and bottom padding */
    width: 2px;
    background-color: black;
    z-index: -1; /* Ensure the line is behind the icons */
  }
  
  .iconContainer {
    border: 1.8px solid #343a40;
    height: 40px; /* Keeping the original border container size */
    width: 40px; /* Keeping the original border container size */
    background-color: #f1f1f1;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .iconImage {
    height: 20px; /* Reduced image size */
    width: 20px; /* Reduced image size */
  }
  
  .personalText {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
    /* margin-top: 30px; */
  }
  
  .personalText h5 {
    margin: 2px;
    font-size: 15px;
    color: #343a40;
    transition: font-weight 0.7s ease-in-out, color 0.7s ease-in-out; /* Transition for bold and color effect */
  }
  
  .personalText:hover h5 {
    /* font-weight: 900; Bold on hover */
    color: rgb(100, 100, 100); /* Change color to white on hover */ 
  }
  
  .activeText {
    font-weight: 900;
    transition: all 1.5s ease;
    transform: scale(1.005);
  }
  
  .arrowIcon {
    margin-left: 5px;
  }
  
  .signIn {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 30px;
    z-index: 10;
  }
  
  .signIn a {
    text-decoration: none;
    color: black;
    font-weight: 550;
  }
  
  .footer {
    text-align: center;
    margin-top: 28%;
    /* margin-bottom: 40px; */
    padding-bottom: 35px;
  }
  
  .hrmImage {
    width: 95%;
    position: absolute;
    z-index: 1;
    margin-top: -140px;
    left: -13%;
  }
  
  /* Additional classes for active state */
  .active {
    background-color: #e0e0e0; /* Example background color for active state */
  }
  
  
  
  
  
  
  /* Sidebar.module.css */
  .sidebarContainer {
    width: 30%;
    overflow-y: auto;
  }
  
  .imgSpace {
    display: none;
  }
  
  .imgSpaadfce {
    background-color: #f1f1f1 !important;
  }
  .mobileMenu{
    display: none;
  }
  .fixedMenu{
    display: none;
  }
  .container{
    width: fit-content;
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .slideInLeft {
    animation: slideInFromLeft .2s ease-out forwards;
  }
  
  /* Display sidebar content for desktop view */
  @media (min-width: 800px) {
   

    .imgSpace {
      display: block;
    }
  
    .imgSpaadfce {
      background-color: #f1f1f1 !important;
    }
  }
  
  .offcanvas-body {
    padding: 20px;
  }
  
  
  @media (max-width: 880px) {
    .sidebarContainer {
      display: none; /* Hide sidebar container for mobile view */
    }

    .mobileMenu{
      display: flex !important;
      flex-direction: column;
      position: absolute;
      width: fit-content;
      background-color: rgba(230, 229, 229, 0.9);
      top: 0px;
      padding: 20px;
      padding-top: 0;
      padding-left: 60px;
    }

    .fixedMenu{
      display: block;
      position: fixed;
      left: 10px;
      top: 10px;
      font-size: 30px;
      z-index: 200;
    }

    .nodisplay{
      display: none !important;
    }
  }
  